{% extends 'base.html' %}
{% load static %}
 
{% block main %}
<div class="container">
  <div class="row my-5">
    <div class="col-12 col-lg-6">
      <div class="bg-white border overflow-hidden">
        <img src="/{{ object.image }}" width="100%">
      </div>
      <div class="bookmark d-flex justify-content-center align-items-center">
        {% if user.is_authenticated %}
        <p class="pr-2">ブックマーク</p>
        {% if bookmarked %}
         <a href="javascript:void(0)" id="bookmark" name="{{ object.pk }}" type="button"><i class="fas fa-lg fa-heart like-red"></i></a>
         {% else %}
         <a href="javascript:void(0)" id="bookmark" name="{{ object.pk }}" type="button"><i class="far fa-lg fa-heart"></i></a>
         {% endif %}
         {% endif %}
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="border p-3 text-left text-dark overflow-hidden">
        <h2 class="display-5">{{object.name}}</h2>
        <p class="lead my-3">
          
          {% for tag in object.tag.all %}
          <a href="/tag/{{tag.slug}}/" class="badge badge-pill badge-dark"># {{tag}}</a>
          {% endfor %}
        </p>

        <section class="artist row mb-3">
          <h6 class="col-2">出演者</h6>
          <div class="row col-10">
            {% for artist in object.artist.all %}
            <a href="/artists/{{artist.slug}}/" class="col-md-4">{{artist}}</a>
            {% endfor %}
          </div>
        </section>

        <section class="distributor row mb-3">
          <h6 class="col-2">販売元</h6>
          <a href="/distributors/{{object.distributor.slug}}/"
            class="col-2">{{object.distributor.name}}</a>
        </section>

        {% for ticket in object.ticket_set.all %}
        <hr class="p-1">
        <div class="d-flex sales-period">
          <p class="pr-2">受付日時</p>
          <p class="start-time">{{ticket.sold_at|date:"Y/m/j H:i:s"}}</p>
          <p class="px-1">-</p>
          <p class="end-time">{{ticket.end_at|date:"Y/m/j H:i:s"}}</p>
        </div>
        <p class="lead">{{ticket.name}} - ¥{{ticket.price}}（税別）</p>
        <p class="lead">{{object.description}}</p>
        <form action="/pay/checkout/" method="POST" class="">
          {% csrf_token %}
          <input type="hidden" name="ticket_pk" value="{{ticket.pk}}">
          <p>
            <input type="number" class="form-control d-inline w-25" name="quantity" value="1" max="{{object.stock}}"> 枚
          </p>
          {% if ticket.stock == 0 %}
          <button id="checkout-button" type="submit" class="btn btn-secondary checkout-button" disabled>完売</button>
          {% else %}
          <button id="checkout-button" type="submit" class="btn btn-info checkout-button">Checkout</button>
          {% endif %}
        </form>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script src="{% static 'javascripts/index.js' %}"></script>

<script type="text/javascript">
  //cookie
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');
  
      function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          crossDomain: false, // obviates need for sameOrigin test
          beforeSend: function (xhr, settings) {
              if (!csrfSafeMethod(settings.type)) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
  
      //いいねボタンが押されたら非同期通信を行う
      $('#bookmark').on('click', function (event) {
        event.preventDefault();
          $.ajax({
              type: 'POST',
              url: "{% url 'bookmark' %}",
              data: {
                'event_id': $(this).attr('name'),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
              },
              dataType: 'json',
              success: function(response){
                        selector = document.getElementsByName(response.event_id);
                        if(response.bookmarked){
                            $(selector).html("<i class='fas fa-lg fa-heart'></i>");
                        }
                        else {
                            $(selector).html("<i class='far fa-lg fa-heart'></i>");
                        }
                      }
             });
      });
  </script>
{% endblock %}

